.containerWheel {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWheel .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #ffff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid #f0f0f0;
    cursor: pointer;
    user-select: none;
}

.containerWheel .spinBtn::before {
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #f0f0f0;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.containerWheel .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #ffff,
    0 0 0 15px #f0f0f0,
    0 0 0 18px #111;
}

.containerWheel .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.containerWheel .wheel .number span {
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #ffff;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.containerWheel .wheel .number span::before {
    content: 'Rp';
    font-size: 0.75em;
    font-weight: 700;
}

.containerWheel .wheel .number span::after {
    content: 'k';
    position: absolute;
    font-size: 0.75em;
    font-weight: 100;    
}

@keyframes idleSpin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.wheel {
    animation: idleSpin 20s linear infinite;
}